html *
{
   font-size: 1em;
   color: #000 !important;
   font-family: 'Lato', sans-serif;
}

.mainBox
{
    margin: 0px auto;
}
.main
{
    width: 1600px;
    margin: 0px auto;
    background-color: pink;
}
.nav
{
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-bottom: 40px;
}

.nav a
{
    color:black;
    font-size: 18px !important;
}
.nav #logo
{
    width: 70px;
    height: 40px;
}

.nav>ul>li
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
  
    position: relative;
    top:8px;
    font-family: Tahoma,serif;
    font-size: xx-large;
}

a:link {
    text-decoration: none;
  }

#logo
{
    padding-top: 10px;
}

.title
{
    text-align: center;
    padding-top: 20px;
    padding-bottom:30px ;
    font-size: xx-large;
}


.subtitle
{
    font-size: x-large;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.subtitle hr
{
    margin: 20px auto 30px;
    width: 15%;
    border: 0;
    height: 1px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

.par-mums p
{
    font-size: 18px;
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.5;
    padding-bottom: 15px;
}
.image-item
{
    margin-bottom: 10px;
    width:1600px;
    height:1000px;
}

.insta>ul>li
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
  
    position: relative;
    
}

.insta
{
    flex: 1;
}
.insta-row-1
{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content :space-between;
    height: 700px;
    }
.insta-row-2
{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content :space-between;
    height: 700px;
}

.instagram-media
{
    background-color: aqua;
    height: 650px;
}

.footer
{
    width: 100%;
    float: left;
    background-color: gray;
    padding:20px 0px;
    bottom: 0;
    opacity: 80%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: flex;
    justify-content:space-around ;
    font-size: x-large;
    flex-wrap: wrap;
}

.main-kontakti
{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: 0px auto 79px;
}
.kontakti-info
{
    height: 700px;
    width: 600px;
}
.kontakti-map
{
    height: 700px;
    width: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.kontakti-info
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.kontakti-info-part-1 p
{
    margin-bottom: 30px;
    font-size: 22px;

}
.kontakti-info-part-2 p
{
    font-size: 22px;
    padding-bottom: 15px;

}
.footer-logo
{
    font-size: xx-large;
}
.main-portfolio
{
    flex-direction: row;
    margin: 30px auto 79px;
    display: flex;
    width: 1600px;
    justify-content: space-around;
    flex-wrap:wrap ;
}

.portfolio-img img
{
    margin-top: 50px;
    background-color: black;
    width: 300px;
    height: 350px;
    margin-bottom: 290px;
}
.main-Faq
{
    width: 1600px;
    margin: 0px auto;
}
.faq p
{
    line-height: normal;
}
.faq-q1-first
{
    text-align: center;
    margin-bottom: 20px;
}
.faq-first-item
{
    margin-bottom: 10px;
    margin-top: 20px;
}
.faq-text
{
    margin-bottom:10px ;
}
#faq-ul
{
    margin-left:50px ;
}
#important-faq
{
    font-size: large;
}
.faq-regular-text
{
    font-size: large;
    padding-bottom: 10px;
    line-height: normal;
}
.main-profile
{
    margin:auto;
    width: 1400px;


}
.profile
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.portfolio-headshot img
{
    height: 300px;
    width: 200px;
}

.profile-work
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.artists-work img
{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;

}
.portfolio-text p
{
    font-size: large;
}
.youtube
{
    margin-bottom: 10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px)
{
    .main
    {
        width: 400px !important;
    }
    .image-row img
    {
        width: 430px !important;
        height: 320px !important;
    }
    .youtube
    {
        width: 430px !important;
        height: 320px !important;
    }
    .insta
    {
        height: 4400px !important;
    }
    .main-portfolio
    {
        width: 400px !important;
    }
    .portfolio-img
    {
        height: 400px ;
    }
    .main-Faq
    {
        width: 400px !important;
    }
    .main-kontakti
    {
        width: 400px !important;
        flex-direction: column;
    }
    .main-kontakti p
    {
        text-align: center;
    }
    .kontakti-info
    {
        width: 400px !important;
    }
    .kontakti-map
    {
        width: 400px !important;
    }
    .kontakti-map iframe
    {
        width: 400px !important;
        margin-left: 20px !important;
    }
    .insta-row-1
    {
        justify-content: flex-start;
        height: 1800px !important;
    }
    .insta-row-2
    {
        justify-content: flex-start;
        height: 1800px !important;
    }
    .main-profile
    {
        width: 400px;
    }
    .footer p
    {
        font-size: small;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 601px) and (max-width: 992px)
{
    .main
    {
        width: 600px !important;
    }
    .image-row img
    {
        width: 600px !important;
        height: 320px !important;
    }
    .youtube
    {
        width: 600px !important;
        height: 320px !important;
    }
    .insta
    {
        height: 4400px !important;
    }
    .main-portfolio
    {
        width: 600px !important;
    }
    .portfolio-img
    {
        height: 600px ;
    }
    .main-Faq
    {
        width: 600px !important;
    }
    .main-kontakti
    {
        width: 600px !important;
        flex-direction: column;
    }
    .main-kontakti p
    {
        text-align: center;
    }
    .kontakti-info
    {
        width: 600px !important;
    }
    .kontakti-map
    {
        width: 600px !important;
    }
    .kontakti-map iframe
    {
        width: 600px !important;
        margin-left: 20px !important;
    }
    .insta-row-1
    {
        justify-content: flex-start;
        height: 1800px !important;
    }
    .insta-row-2
    {
        justify-content: flex-start;
        height: 1800px !important;
    }
    .main-profile
    {
        width: 600px;
    }
    .footer p
    {
        font-size: medium;
    }
}
@media only screen  and (min-width: 993px) and (max-width: 1600px)
{
    .main
    {
        width: 900px !important;
    }
    .image-row img
    {
        width: 900px !important;
        height: 700px !important;
    }
    .youtube
    {
        width: 900px !important;
        height: 700px !important;
    }
    .insta
    {
        height: 2800px !important;
    }
    .main-portfolio
    {
        width: 900px !important;
    }
    .portfolio-img
    {
        height: 600px ;
    }
    .main-Faq
    {
        width: 900px !important;
    }
    .main-kontakti
    {
        width: 900px !important;
        flex-direction: column;
    }
    .main-kontakti p
    {
        text-align: center;
    }
    .kontakti-info
    {
        width: 900px !important;
    }
    .kontakti-map
    {
        width: 900px !important;
    }
    .kontakti-map iframe
    {
        width: 900px !important;
        margin-left: 20px !important;
    }
    .insta-row-1
    {
        justify-content: space-around;
        height: 1400px !important;
    }
    .insta-row-2
    {
        justify-content: space-around;
        height: 1400px !important;
    }
    .main-profile
    {
        width: 900px;
    }
}